<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
    <listeners>
        
        <listener class-name="com.bookswagon.utilities.Listener"/>
        <listener class-name="com.bookswagon.utilities.Transformer"/>
    </listeners>
    <test name="Books Wagon Testing">
        <classes>
            <class name="com.bookswagon.runner.TestRunner"/>
        </classes>
    </test>
</suite>
